requests
# add this package to ensure trace context is added to logs
opentelemetry.instrumentation.logging
# need to set specific versions of these packages to avoid version
# conflict with opentelemetry-propagator-aws-xray as AWS uses
# version 1.0.2
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-instrumentation==0.47b0
opentelemetry-api==1.26.0